<link rel="stylesheet" href="../../static/pigpen.css">
<title>Codexia | Pigpen</title>
<header>
    <head>
        <nav>
            <button onclick=window.location.href="../" class="accueil">Accueil</button>
            <h1 class="Titre-pigpen"><b>CODEXIA: PIGPEN</b></h1>
        </nav>
        
    </head>
</header>

<body>
<div>
    <h1 class="texte-pigpen">
        Le cryptage Pigpen est une méthode de cryptage historique utilisée pour protéger des messages confidentiels. Il utilise une grille divisée en quatre parties égales avec des points à l'intersection des lignes pour représenter chaque lettre. Chaque lettre est remplacée par le symbole correspondant dans la grille pour coder le message. Bien qu'il ne soit pas aussi sécurisé que les méthodes modernes de cryptage, il reste une option populaire pour ajouter une couche de sécurité supplémentaire aux communications.</h1>
        <form method="POST" class="coder" >
            <div class="pigpen_code"><label>Phrase à coder: <input type="text" name="a_coder"></label></div>
            <input type="submit" value="Coder" class="bouton_valider">
            
        </form> 
        <form method="POST" class="decoder" >
            <div class="pigpen_decode"><label>Phrase à décoder: <input type="text" name="a_decoder"></label></div>
            <input type="submit" value="Décoder" class="bouton_décoder">
        </form>

    </div>
</body>