<link rel="stylesheet" href="../../static/pigpen.css">
<header>
    <head>
        <button onclick=window.location.href="../">Accueil</button>
    </head>
</header>

<body>
<div>
        <form method="POST" class="coder" >
            <div class="pigpen_code"><label>Phrase à coder: <input type="text" name="a_coder"></label></div>
            <input type="submit" value="Coder" class="bouton_valider">
            
        </form> 
        <form method="POST" class="decoder" >
            <div class="pigpen_decode"><label>Phrase à décoder: <input type="text" name="a_decoder"></label></div>
            <input type="submit" value="Décoder" class="bouton_décoder">
        </form>

    </div>
</body>