<link rel="stylesheet" href="../../static/morse.css">
<html>
<header>
    <head>
        <button onclick=window.location.href="../" class="accueil">Accueil</button>

    </head>
</header>

<body>
    <div>
        <textarea name="A coder" id="phrase_a_coder" cols="50" rows="5" class="phrase"></textarea>

        <input type="submit" value="Coder" class="bouton_valider" href="python:encore();">
        
        <input type="submit" value="Décoder" class="bouton_décoder">
    </div>
</body>
</html>